h1, h2, h3{
font-size: 60px;
color: rgb(255, 0, 225);
text-align: center;
}
h2{
    color: rgb(255, 20, 255);
    font-size: 50px;
}
body{
    background-image: url(../asuperbelezadela.img/5228216-padrao-romantico-sem-costura-com-um-coracao-feliz-dia-dos-namorados-coracoes-e-pontos-vermelhos-em-um-fundo-branco-gratis-vetor.jpg);
}
p{
    -webkit-text-stroke: 0.8px rgb(71, 6, 60);
    font-size: 22px;
    text-align: center;
    color: rgb(255, 20, 254);
}
h4{
    text-align: center;
    color: rgb(255, 20, 255);
}
.genebra{
font-size: 26px;
color: #ff00fb;
}